* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-bar {
  background-color: #3c3a39;
  height: 5.75rem;
  padding: 3.5rem 1.5rem 0.75rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-logo {
  color: #fff;
  width: 4.375rem;
  height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.burger > span {
  color: #fff;
}

.hero {
  background-color: #1c1a19;
  padding: 7.5rem 1.5rem 8.5rem 1.5rem;
  background-image: url("../pics/illustration-header-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.primary-text {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 200%;
  color: #ff6b00;
  letter-spacing: 0.02rem;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  color: #fff5e1;
  margin: 0.75rem 0;
}

.description {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.social-media {
  margin-top: 0.75rem;
}
