* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button > a {
  text-decoration: none;
  color: #fff;
}

hr {
  color: #6f6c6b;
  width: 90%;
}

.app-bar {
  background-color: #3c3a39;
  height: 5.75rem;
  padding: 3.5rem 1.5rem 0.75rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-logo {
  color: #fff;
  width: 4.375rem;
  height: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.burger > span {
  color: #fff;
  padding-right: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  padding: 7.5rem 1.5rem 8.5rem 1.5rem;
  background-image: url('../pics/illustration-header-mobile.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 200%;
  color: #ff6b00;
  letter-spacing: 0.02rem;
}

.supporting-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  color: #fff5e1;
  margin: 0.75rem 0;
}

.description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.social-media {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.social-media > li {
  padding: 7px 1rem;
}

.pro-btn :hover {
  background-color: #fff;
  color: #ff6b00;
}

.social-media > li :hover {
  background-color: pink;
}

.story {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
}

.story-grid-container {
  grid-column: 2;
  margin-bottom: 1.5rem;
}

.story-title {
  grid-column: 2;
  display: flex;
  align-items: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #1c1a19;
  padding-bottom: 1.5rem;
  border-bottom: 0.001rem #212121 solid;
  padding-top: 7.5rem;
}

.card-top {
  grid-column: 2;
  margin-top: 5rem;
}

.post-title {
  grid-column: 2;
  display: flex;
  align-items: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #091e42;
}

.card-supporting-text {
  grid-column: 2;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #091e42;
}

.languages {
  grid-column: 2;
}

.languages > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: -1.5rem;
}

.languages > ul > li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.story-btn {
  display: grid;
  grid-column: 2;
  margin-top: 1rem;
}

.story-btn > span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.hidden-nav-title > a {
  text-decoration: none;
  margin-top: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  border-bottom: solid 1px #6f6c6b;
  padding-left: 0.5rem;
}

.story-btn > span > a {
  text-decoration: none;
  background-color: #ff6b00;
  color: #fff;
  padding: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  margin-top: 1rem;
}

.project-details {
  grid-column: 2;
  background-image: url('../pics/img2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.8rem;
}

.project-title {
  margin-top: 4.5rem;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
}

.support-text {
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.lang-list > li > a {
  margin-top: 2.75rem;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.lang-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-language > ul {
  list-style-type: none;
  display: flex;
}

.pro-language > ul > li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pro-btn {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b00;
}

.languages > ul > li :hover {
  background-color: #091e42;
  color: #fff;
}

.pro-btn > span {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pro-btn > span > a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.about {
  background-color: #1c1a19;
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  background-image: url('../pics/illustration-about-me-mobile.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  background-position-y: bottom;
  padding-bottom: 7.5rem;
}

.about-container {
  grid-column: 2;
}

.about-text {
  display: flex;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 7.5rem;
}

.about-description {
  grid-column: 2;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #f4f5f7;
  margin-top: 1.5rem;
}

.about-footer {
  grid-column: 2;
}

.about-btn {
  background-color: #ff6b00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: #fff;
}

.about-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

.about-btn:active {
  background-color: #ff6b00;
  color: #fff5e1;
}

.about-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-border {
  padding-bottom: 7.5rem;
  border-bottom: solid 0.024rem #fff;
}

.about-btn > span > a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #fff;
}

.top {
  background-color: #1c1a19;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang-top {
  grid-column: 2;
  border: 0.05px #fff solid;
  width: 90%;
}

.pro-language > ul > li > a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.425rem;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 1rem;
  margin-right: 0.5rem;
}

.languages > ul > li > a {
  text-decoration: none;
  color: #091e42;
}

.story-contact-btn > a:hover {
  color: #ff6b00;
}

.about-btn > span > a:hover {
  color: #ff6b00;
}

.about > span > a:hover {
  color: #ff6b00;
  background-color: #fff;
}

.language-container {
  grid-template-columns: 1.5rem 1fr 1.5rem;
  background-color: #1c1a19;
}

.language-sec {
  grid-column: 2;
  padding-bottom: 2rem;
  padding-top: 8.5rem;
}

.lang-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.lang-img {
  display: flex;
  flex-direction: row;
}

.lang-img > img {
  margin-right: 1rem;
}

.lang-img > h4 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.language-sec > ul > h4 {
  margin-left: 1rem;
}

.interest {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  background-color: #fff;
  padding-bottom: 4.5rem;
}

.intrest-description {
  grid-column: 2;
  padding-top: 4.25rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  color: #172b4d;
}

.contact {
  grid-column: 2;
  margin-top: 4.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-input {
  padding-top: 1rem;
  width: 100%;
}

.contact-input > input {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #979493;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border: #dbd8d7 solid 1px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}

.info {
  width: 100%;
}

.info > textarea {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 2rem 0.5rem;
  background-color: #fbf8f7;
  border-style: hidden;
  color: #3c3a39;
}

.info > textarea :focus :active {
  outline: none;
  border-color: transparent;
  border-bottom: 2px solid #1c87c9;
}

.contact-btn {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-contact-btn {
  border: none;
  background-color: #ff6b00;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 1.5rem;
}

.story-contact-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.story-contact-btn:active {
  background-color: #e05304;
  color: #fff5e1;
}

.story-contact-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

footer {
  border: #dfe1e6 solid 0.15rem;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  background-color: #fff;
  padding-bottom: 1rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505f79;
}

.hidden-bottom > img {
  padding-top: 2rem;
  padding-bottom: 12px;
}

.footer-content > .social-media > li > a > img {
  color: #505f79;
}

.footer-social {
  padding-bottom: 3rem;
  border-bottom: solid 0.25rem #0d151e;
}

@media (min-width: 375px) {
  .nav-container {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav-container {
    display: block;
  }

  .nav-container > ul {
    list-style-type: none;
    display: flex;
    margin-right: 7.75rem;
  }

  .nav-container > ul > li > a {
    text-decoration: none;
    margin-right: 2rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .hero {
    display: flex;
    flex-direction: row;
    background-image: url(../pics/Illustration-header.png);
    background-position-y: bottom;
    background-position-x: right;
    background-size: contain;
  }

  .text-social {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
  }

  .social-media {
    display: flex;
    flex-direction: column;
  }

  .story-title {
    border-bottom: none;
    display: flex;
  }

  .line {
    width: 70%;
    margin-left: 2%;
  }

  .story-grid-container {
    display: flex;
    align-items: center;
  }

  .card-top > img {
    width: 684px;
  }

  .card-text {
    margin-left: 1rem;
  }

  .languages > ul {
    margin-left: 0;
    justify-content: start;
  }

  .footer-social-media > li {
    margin-right: 1rem;
  }

  .languages > ul > li {
    margin-right: 1rem;
  }

  .post-title {
    font-size: 2.5rem;
  }

  .card-supporting-text {
    font-size: 1.25rem;
    margin: 2rem 0;
  }

  .story {
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
  }

  .story-btn > span {
    margin-top: 1rem;
  }

  .project-container {
    display: flex;
    margin: 0 4rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .pro-btn {
    opacity: 0;
  }

  .pro-btn:hover {
    opacity: 100;
  }

  .project-title:hover,
  .support-text:hover,
  .pro-language:hover {
    visibility: hidden;
  }

  .about {
    display: flex;
    background-image: url('../pics/Frame.png');
    background-size: auto;
  }

  .about-container {
    width: 50%;
    margin-left: 4rem;
  }

  .language-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 4rem 2rem 4rem;
  }

  .skills-li {
    margin-top: 4rem;
  }

  .interest {
    display: flex;
    margin: 8.5rem 4rem;
  }

  .intrest-description {
    width: 40%;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    padding-left: 1rem;
  }

  .contact {
    width: 60%;
  }

  .contact-btn {
    display: flex;
    width: 100%;
    justify-content: left;
  }

  .footer-social-media {
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  .footer-social {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.filler {
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3c3a39;
  position: absolute;
}

.hidden-nav {
  position: absolute;
  top: calc(15% - 24px / 2);
  margin-left: 1.5rem;
  z-index: 200;
  width: 90%;
  display: none;
}

.cover-list {
  list-style-type: none;
}

.hidden-nav-title {
  padding-top: 1rem;
}

.hidden-content {
  height: 41vh;
}

.hidden-bottom {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  position: fixed;
  width: 60%;
  bottom: 77vh;
  left: 0;
}

.close {
  position: relative;
  color: #67798e;
  left: 90%;
  font-size: 1.4rem;
}

.burger-icon-hide {
  margin-left: -2rem;
}

.end-line {
  width: 0;
}
